h1 {
  font-family: "Wanderlust";
  font-size: 64px;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.card-img-top-small {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-buttons {
  display: flex;
  justify-content: right;
}

.icons button {
  margin-left: 5px;
}

.tags {
  color: white;
  padding: 0 10px;
  border-radius: 7px;
}
